*.obj
*.dll
*Debug
*Release
*ipch
*.user
*.pdb
*.zip
*.dll
*.7z
*.suo
*.ncb
*.sdf
*.tlog
*.idb
*.log*
*.opensdf
*.pyc
*.swp
.settings
.idea
ssh
keys/*
Output/*.lib
/.project
/.pydevproject
./merchant_lib/config_dev.py
.DS_Store
/test/debug.py
venv/*

.fuse_hidden*
.tlog.*
deploy_config/docker/development/pycharm/data/solr/
index_search/indexer/data/
metrip_lib/managers/metadata_en.json
metrip_lib/managers/metadata_vi.json
cron_service/ios_report.csv
cron_service/android_report.csv
sitemap.xml
src/
~/

